@model Merolekando.Models.Dtos.UserDto
@using Merolekando.Common
@{
    var baseur = Methods.baseurl;
}
@*<link rel="stylesheet" href="~/css/all.min.css">
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<!--   ALL CSS GOSE HEAR  -->
<!--   ALL CSS GOSE HEAR  -->
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />*@
<link rel="stylesheet" href="~/js/loadmore/css/style.css">

<section style="background-color: #eff5ee;">
    <div class="container py-5">
        <form method="post" action="~/Web/EditUser" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">

                            <img src="@baseur@Model.Image" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">@Model.Name</h5>
                            <p class="text-muted mb-4">@Model.Address</p>
                            <div class="d-flex justify-content-center mb-2">
                                <input type="file" name="Imagess" class="dimmy" id="image-input" />
                            </div>
                            @if (Model.IsVerified == true)
                            {
                                <label> Verified </label>
                               <i class="fas fa-check-double"></i>
                            }
                            else
                            {
                                <button type="button" data-toggle="modal" data-target="#VerifyModal" data-target="@Model.Id" id="VerifyBtn" class="btn btn-primary">Verify</button>
                            }
                            @if (Model.Subscriptions >= DateTimeOffset.Now.ToUnixTimeMilliseconds())
                            {
                                var s = DateTimeOffset.Now.ToUnixTimeMilliseconds();
                                var t = Model.Subscriptions;
                                long dt = (long)t-(long)s;
                                DateTimeOffset dateTimeOffset = DateTimeOffset.FromUnixTimeMilliseconds(dt);
                                
                                var day = dateTimeOffset.ToString("dd ");
                                var hr = dateTimeOffset.ToString("HH");
                                var min = dateTimeOffset.ToString("MM");
                               
                                <label> Subscribed </label>
                                <p>@day Days @hr Hrs @min Mins</p>
                            }
                            else
                            {
                                <button type="button" id="SubscriptionId" class="btn btn-primary">Subscription</button>
                            }
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <input hidden name="Id" value="@Model.Id" />
                                    <input class="form-control" type="text" name="Name" value="@Model.Name" />
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" name="Email" value="@Model.Email" />
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" name="Number" value="@Model.Number" />
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" name="Address" value="@Model.Address" />
                                </div>
                            </div>
                            @if (@Model.LoginType == "Custom")
                            {
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Address</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" name="Passwrod" value="@Model.Password" />
                                    </div>
                                </div>
                            }
                            <hr>
                            <button type="submit" class="btn btn-outline-success" data-mdb-ripple-color="dark">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="modal fade" id="VerifyModal" tabindex="-1" aria-labelledby="AddNewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Verfication</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>

                <form method="post" action="~/Web/Sendverify" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="col-12">
                            <label class="visually-hidden" for="inlineFormInputGroupUsername">Message</label>
                            <div class="input-group">
                                @*<div class="input-group-text">a</div>*@
                                <input type="text" class="form-control" name="Message" id="inlineFormInputGroupUsername" placeholder="Message" />
                            </div>
                        </div>
                        <br />
                        <br />
                        <label>Front Image</label>
                        <input type="file" name="FImage" class="dimmy" id="image-input" />
                        <br />
                        <br />
                        <label>Back Image</label>
                        <input type="file" name="BImage" class="dimmy" id="image-input" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>

            </div>
        </div>
    </div>


<script src="~/js/jquery-1.12.4.min.js"></script>
@*<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>*@
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>*@

<script type="text/javascript">


                        $("#SubscriptionId").click(function() {
                        //$(document).on("click", "#ChatPageid", function () {
                             $.ajax({
                                type: 'post',
                                beforeSend: function(){
                                        $('.ajax-loader').css("visibility", "visible");
                                    },
                                url: '@Url.Action("Contact", "Web")',
                                complete: function(){
                                        $('.ajax-loader').css("visibility", "hidden");
                                    },
                                success: function (data) {
                                    debugger
                                    $("#ProductsPartials").html("");
                                    $("#ProductsPartials").html(data);
                                    debugger
                                    $("#load-more").css({"display":"none",});
                                },
                                error: function (xhr) {
                                    alert('error');
                                }
                            })
                        });
</script>